*{
    box-sizing: border-box;
}
body {
    background:#1c1a1a;
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing:antialiased;
    overflow:hidden;
     display:flex;
     align-items:center;
     justify-content:center ;
}
   
   nav {
    
    position:relative;
    padding-bottom:12px;

}
nav.line {
    height: 5px;
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0;
    background:#e1ec11;
   
}


nav ul {
    padding:0;
    margin:0;
    list-style:none;
    display:flex;
}

nav ul li{
    margin:0 40px 0 0;
    opacity:0.4;
    transition:all 0.8s ease;
}

nav ul li:hover{
    opacity:0.7;
}

nav ul li.active {
    opacity:1 ;

}
nav ul li:last-child {
      margin-right:0;

}

nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display:block;
    font-weight: 600px;
    letter-spacing:2px;
    font-size: 24px;
}